/* styles fot the button in the top screen */
.BottomDiv .Button {
	border-radius: 3rem;
}

/* styles for the button in the info screen */
.InfoScreen .Button {
	bottom: 11vh;
	border-radius: 3rem;
	border-color: #171717;
}
.InfoScreen .Button:hover {
	border-color: #171717;
}
