/* .Footer__top .FirstSeparator {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(250, 204, 21, 1) 50%,
		rgba(0, 0, 0, 0) 100%
	);
} */
.Footer {
	height: auto;
}

.Separator {
	background-color: rgba(250, 204, 21, 1);
	width: 75%;
	height: 0.05rem;
}

@media (min-width: 1024px) {
	.Footer {
		height: 35rem;
	}
	.Separator {
		width: 0.05rem;
		height: 75%;
	}
}
