@media (min-width: 768px) {
	.NavBar div {
		display: -webkit-inline-box;
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.NavBar div::-webkit-scrollbar {
	display: none;
}

.NavBar div {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
