/* Custom tooltip component */
.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	text-align: center;
	position: absolute;
	padding: 0.25rem 0.5rem;
	@apply border-yellow-500 text-white bg-gray-600 rounded z-10;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltiptext.left {
	top: 50%;
	left: -0.25rem;
	transform: translateX(-100%) translateY(-50%);
	@apply border-r-2;
}

.tooltiptext.right {
	top: 50%;
	right: -0.25rem;
	transform: translateX(100%) translateY(-50%);
	@apply border-l-2;
}

.tooltiptext.top {
	top: -0.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	@apply border-b-2;
}

.tooltiptext.bottom {
	bottom: -0.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	@apply border-t-2;
}
