*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

i {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
	display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom styles to base html tags */
@layer base {
	@import url('./styles/partials/_base');
}

/* Import custom component implementing Tailwind css */
@layer components {
	/* React datepicker component */
	.react-datepicker-wrapper {
		@apply w-full;
	}

	/* Custom NavBar */
	.NavBar {
		@apply w-full bg-gray-900 flex flex-col md:flex-row py-5 md:justify-between;
	}

	/* Custom Styles for NavBar */
	@import url('./styles/components/NavBar.style');

	/* React scroll Link used in NavLink custom component */
	.NavLink {
		@apply cursor-pointer text-gray-200 font-semibold flex min-w-max flex-grow 
		p-0.5 items-center pr-4;
	}

	/* Custom styles for NavLink */
	@import url('./styles/components/NavLink.style');

	/* Custom styles for bottom div of TopScreen */
	@import url('./styles/screens/TopScreen.style');

	/* Custom styles for info screen */
	@import url('./styles/screens/InfoScreen.style');

	/* Custom styles for the Button component */
	@import url('./styles/components/Button.style');

	/* Styles for the functions screen */
	.FunctionsScreen {
		@apply bg-gray-400;
	}

	/* Custom styles for the title component */
	@import url('./styles/components/Title.style');
}
