*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

i {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
	display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom styles to base html tags */
@layer base {
	@import url('./styles/partials/_base');
}

/* Import custom component implementing Tailwind css */
@layer components {
	/* React datepicker component */
	.react-datepicker-wrapper {
		@apply w-full;
	}

	/* Custom NavBar */
	.NavBar {
		@apply w-full bg-gray-900 flex flex-col md:flex-row py-5 md:justify-between;
	}

	/* Custom Styles for NavBar */
	@import url('./styles/components/NavBar.style');

	/* React scroll Link used in NavLink custom component */
	.NavLink {
		@apply cursor-pointer text-gray-200 font-semibold flex min-w-max flex-grow 
		p-0.5 items-center pr-4;
	}

	/* Custom styles for NavLink */
	@import url('./styles/components/NavLink.style');

	/* Custom styles for bottom div of TopScreen */
	@import url('./styles/screens/TopScreen.style');

	/* Custom styles for info screen */
	@import url('./styles/screens/InfoScreen.style');

	/* Styles for the Info screen */
	.InfoScreen {
		@apply flex flex-col-reverse md:flex-row;
	}

	/* Custom styles for the Button component */
	@import url('./styles/components/Button.style');

	/* Styles for the functions screen */
	.FunctionsScreen {
		@apply bg-gray-400 relative pt-40 pb-4 lg:p-0;
	}

	/* Custom styles for the title component */
	@import url('./styles/components/Title.style');

	/* Card displayer component styles */
	.CardDisplayer {
		@apply flex flex-col lg:flex-row shadow-xl rounded-md overflow-visible;
	}

	/* Custom styles for the CardDisplayer component */
	@import url('./styles/components/CardDisplayer.style');

	/* Card component styles */
	.VerticalCard {
		@apply flex-1 min-w-max flex flex-row lg:flex-col justify-center items-center;
	}
	.HiddenCard {
		@apply text-center items-center flex flex-col justify-start cursor-pointer;
	}

	/* Custom styles for the vertical cards */
	@import url('./styles/components/VerticalCard.style');

	/* Styles for the currency screen */
	.CurrencyScreen {
		@apply flex relative flex-col-reverse justify-end xl:justify-center xl:flex-row;
	}

	/* Custom styles for the currency screen */
	@import url('./styles/screens/CurrencyScreen.style');

	/* Custom styles for the Exhibitor component */
	@import url('./styles/components/Exhibitor');

	/* Styles for perks screen */
	.PerksScreen {
		@apply flex flex-col relative px-1 xl:px-11 pb-5 xl:pb-11 pt-28 bg-gray-500;
	}

	/* Custom styles for perks screen */
	@import url('./styles/screens/PerksScreen.style');

	/* Styles for ecommerce screen */
	.EcommerceScreen {
		@apply flex;
	}

	/* Custom styles for ecommerce screen */
	@import url('./styles/screens/EcommerceScreen.style');

	/* Custom styles for the PhoneCarosel component */
	@import url('./styles/components/PhoneCarousel.style');
}
