@media (max-width: 640px) {
	.InfoScreen {
		display: flex;
		flex-direction: column;
	}
	.InfoScreen section {
		flex: 1;
	}
}

/* background image for the left part os the info screen */
.InfoScreen article:first-child {
	background-image: url('/src/assets/images/Cellphones.png');
	background-size: 130vh;
	background-repeat: no-repeat;
	background-position: center top;
}

/* background image for the right part os the info screen */
.InfoScreen article:last-child {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.8) 0%
		),
		url('/src/assets/images/info-screen-bg.jpg');
	background-size: cover;
	background-position: center;
}

/* yellow bar between the two parts */
.InfoScreen article:first-child::after {
	content: '';
	position: absolute;
	right: 50%;
	top: 120%;
	border-right: 0.3rem solid #fbbf24;
	height: 60%;
}

.InfoScreen article:last-child::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 120%;
	border-right: 0.3rem solid #fbbf24;
	height: 60%;
}
