@media (orientation: landscape) {
	.TopScreen {
		min-height: 40rem;
	}
}

/* background image of top screen */
.TopScreen .BottomDiv {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.5) 5%,
			rgba(0, 0, 0, 0.9) 80%
		),
		url('/src/assets/images/TopBackground.jpg');
	background-size: cover;
	background-position: center;
}
@media (min-width: 1024px) {
	.TopScreen .BottomDiv {
		background-size: cover;
		background-position: center;
	}
}

/* styles for the title */
.BottomDiv h1 {
	max-width: 58.45rem;
	background: linear-gradient(
		90deg,
		rgba(246, 240, 240, 0) 0%,
		rgba(255, 255, 255, 0.3) 50%,
		rgba(246, 240, 240, 0) 100%
	);
}
